<?xml version="1.0" encoding="UTF-8" ?>

<configuration scan="true" scanPeriod="60 seconds" debug="true">

    <contextName>silk-road-backman</contextName>

    <property name="applicationName" value="ProgrammingHelper"/>
    <property name="logBase" value="/home/quant_group/logs"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{ISO8601} [%thread] [%-5level] [%file:%line] %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logBase}/${applicationName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logBase}/${applicationName}.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{ISO8601} [%thread] [%-5level] [%file:%line] %logger - %msg%n</pattern>
        </layout>
    </appender>

    <logger name="org.springframework" level="info"/>
    <logger name="org.apache" level="info"/>
    <logger name="ch.qos.logback" level="info"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>